body {
  --leptoaster-info-background-color: #353535;
  --leptoaster-info-text-color: #f3f3f3;

  --leptoaster-success-background-color: #e8f5e9;
  --leptoaster-success-border-color: #43a047;
  --leptoaster-success-text-color: #1b5e20;

  --leptoaster-warn-background-color: #fff3e0;
  --leptoaster-warn-border-color: #fb8c00;
  --leptoaster-warn-text-color: #e65100;

  --leptoaster-error-background-color: #ffebee;
  --leptoaster-error-border-color: #e53935;
  --leptoaster-error-text-color: #b71c1c;

  width: 100%;
  height: 100vh;
  color: white;
}


@import "tailwindcss";