.header {
    border-bottom: 1px solid var(--color-border);
    padding: 20px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    background: transparent;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.button:hover {
    background: transparent;
    background: var(--color-accent);
}
.left {
    display: flex;
    align-items: center;
    column-gap: 33.5px;
}
.crumbs {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.crumbs a:hover > p  {
    text-decoration: underline;
}