.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px 12px 19px;
    border-radius: 12px;
    background: var(--color-accent);
}
.filtersBtns {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.filtersBtns button {
    padding: 5px;
}